.title {
	color: #3F87C7;
	font-size: 1em;
	font-weight: bolder;
}

.desc {
	color: black;
	font-size: .9em;
}

.forked-button {
	color: white;
	background-color: #3F87C7;
}

.result-text {
	display: block;
}
